h1{
    outline: 1px solid yellow;
    text-align: center;
}

img{
    outline: 1px solid blue;
    max-width: 100%;
}

p{
    outline: 1px solid orange;
}

.caja{
    /*ayuda visual para saber como se ubican los elementos*/
    /*outline: 1px solid red;*/
    width: 497px;
    padding: 15px;
    border: 1px solid #199;
    margin: 16px;
    box-sizing: border-box;
    float: left;
    margin-left: 8px;
}